
.list-group{
	flex-direction: row;
	flex-wrap: wrap;
	
}
.list-group-item{
	width: calc(100%/3 - 10px);
	border: 2px solid grey!important;
	margin-top: 10px;
	display: block!important;
	margin: 3px 3px;


}

.list-group-item:hover{
    border:2px solid red!important;
}

.list-group-posts{

	
}
.list-group-item.post{
	width: 100%!important;
}
.list-group-item.post .post_text{
	font-size: 22px;
}

.pagination{
	margin: 20px auto;
    width: 30%;
    display: flex;
   
}
.pagination .item{
	width: 20px;
	font-size: 20px;
	margin: 0px 10px;

}
.pagination .current{
	border:1px solid #007bff;
	padding: 2px 10px;
}
